*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* LOGO */
header{
    background-color: lightblue;
    padding-top: 10px;
    padding-bottom: 10px;
}
nav {
    max-width: 920px;
    width: 100%;
    background-color: orange;
    margin:  auto;
    display: flex;
    justify-content: space-between;
}
.logo, .link, .login {
    border: dashed 1px black;
    padding: 5px;
}
.logo {
    flex-grow: 1;
}
.link {
    flex-grow: 2;
    text-align: center;
}
.login {
    flex-grow: 1;
    text-align: end;
}
/* MAIN */
.section {
    padding-top: 30px;
    padding-bottom: 30px;
}
/* PRIMO BLOCCO  */
.first-section {
    background-color: blue;
}
.first-container {
    max-width: 750px;
    width: 100%;
    margin: auto;
    background-color: fuchsia;
    height: 350px;
}
/* SECONDO BLOCCO  */
.second-section, .fourth-section {
    background-color: white;
}
.second-container, .third-container, .fourth-container {
    display: flex;
    justify-content: center;
}
.img {
    max-width: 600px;
    width: 100%;
    height: 350px;
    background-color: cornflowerblue;
}
.text {
    max-width: 300px;
    width: 100%;
    background-color: indianred;
    height: 350px;
}
/* TERZO BLOCCO 
 */
.third-section, .fifth-section {
    background-color: lightgray;
}
/* QUINTO BLOCCO  */
.fifth-container {
    background-color: green;
    max-width: 900px;
    width: 100%;
    margin: auto;
    height: 500px;
}